
*.wav
*.wav
input/IN_ch1.wav
input/IN_ch2.wav
input/IN_ch3.wav
output/IVA_ch1.wav
output/IVA_ch2.wav
output/IVA_ch3.wav
*.db
.vs/RT_AUXIVA_ICD_RLS/v16/ipch/AutoPCH/1729d2c44d3c2cb0/AUXIVA_ICD_ONLINE.ipch
.vs/RT_AUXIVA_ICD_RLS/v16/.suo
.vs/RT_AUXIVA_ICD_RLS/v16/Browse.VC.db
.vs/RT_AUXIVA_ICD_RLS/v16/ipch/AutoPCH/3b66d9aceb988926/PROCBUFFERS.ipch
.vs/RT_AUXIVA_ICD_RLS/v16/ipch/AutoPCH/83fce427af943f70/MAIN.ipch
.vs/RT_AUXIVA_ICD_RLS/v16/ipch/AutoPCH/9f7f6e3597be20f0/MAIN.ipch
.vs/RT_AUXIVA_ICD_RLS/v16/ipch/AutoPCH/bc20a8f555807f30/AUXIVA_ICD_ONLINE.ipch
.vs/RT_AUXIVA_ICD_RLS/v16/ipch/AutoPCH/d3ca0042cadea3a6/PROCBUFFERS.ipch
input/IN_ch1.wav
input/IN_ch2.wav
input/IN_ch3.wav
output/IVA_ch1.wav
output/IVA_ch2.wav
output/IVA_ch3.wav
x64/Debug/AUXIVA_ICD_Online.obj
x64/Debug/main.obj
x64/Debug/ProcBuffers.obj
x64/Debug/RT_AUXIV.534AB155.tlog/CL.command.1.tlog
x64/Debug/RT_AUXIV.534AB155.tlog/CL.read.1.tlog
x64/Debug/RT_AUXIV.534AB155.tlog/CL.write.1.tlog
x64/Debug/RT_AUXIV.534AB155.tlog/link.read.1.tlog
x64/Debug/RT_AUXIVA_ICD_RLS.exe
x64/Debug/RT_AUXIVA_ICD_RLS.ilk
x64/Debug/RT_AUXIVA_ICD_RLS.log
x64/Debug/RT_AUXIVA_ICD_RLS.pdb
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Release/AUXIVA_ICD_Online.obj
x64/Release/main.obj
x64/Release/ProcBuffers.obj
x64/Release/RT_AUXIV.534AB155.tlog/CL.read.1.tlog
x64/Release/RT_AUXIV.534AB155.tlog/CL.write.1.tlog
x64/Release/RT_AUXIV.534AB155.tlog/link.delete.1.tlog
x64/Release/RT_AUXIV.534AB155.tlog/link.read.1.tlog
x64/Release/RT_AUXIV.534AB155.tlog/RT_AUXIVA_ICD_RLS.write.1u.tlog
x64/Release/RT_AUXIVA_ICD_RLS.exe
x64/Release/RT_AUXIVA_ICD_RLS.iobj
x64/Release/RT_AUXIVA_ICD_RLS.ipdb
x64/Release/RT_AUXIVA_ICD_RLS.log
x64/Release/RT_AUXIVA_ICD_RLS.pdb
x64/Release/vc142.pdb
